@using HamburgerciUygulamasi.UI.Models.VM
@model LoginVM
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<h4>LoginVM</h4>
<hr />
<div id="content">
    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
        <form method="post" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success" />
            </div>
        </form>
        <div>
                <a asp-action="Register" class="btn btn-primary">Register</a>
        </div>
    </div>
</div>
</div>



